---
import BaseLayout from "../../layouts/BaseLayout.astro";

const {
  title = "Docker - Blog",
  description = "",
  image = "",
  url = "",
} = Astro.props;

const posts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<BaseLayout title={title} description={description} image={image} url={url}>
  <main class="blog-main">
    <header class="blog-header">
      <h1>Docker</h1>
    </header>
    <hr>
    <ul class="blog-list">
      {
        posts.map(post => (
          <li key={post.url}>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        ))
      }
    </ul>
    <hr>
    <a class="link-back" href="/blog/">Volver</a>
  </main>
</BaseLayout>

<style>
  h1 {
    color: #2496ED;
  }
  .references-links li a:hover {
    color: #2496ED;
  }
</style>