---
import BaseLayout from "../../layouts/BaseLayout.astro";

const {
  title = "Git - Blog",
  description = "",
  image = "",
  url = "",
} = Astro.props;

const posts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<BaseLayout title={title} description={description} image={image} url={url}>
  <main class="blog-main">
    <header class="blog-header">
      <h1>Git</h1>
    </header>
    <hr>
    <ul class="references-links">
      <li>
        <a href="https://git-scm.com/doc" target="_blank">Documentación oficial</a>
      </li>
      <li>
        <a href="https://git-scm.com/book/en/v2" target="_blank">Libro Pro Git (Scott Chacon & Ben Straub)</a>
      </li>
      <li>
        <a href="https://www.conventionalcommits.org/en/v1.0.0/" target="_blank">Convenciones de commits</a>
      </li>
      <li>
        <a href="https://pcottle.github.io/learnGitBranching/" target="_blank">LearnGitBranching</a>
      </li>
    </ul>
    <hr>
    <ul class="blog-list">
      {
        posts.map(post => (
          <li key={post.url}>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        ))
      }
    </ul>
    <hr>
    <a class="link-back" href="/blog/">Volver</a>
  </main>
</BaseLayout>

<style>
  h1 {
    color: #f05032;
  }
  .references-links li a:hover {
    color: #f05032;
  }
</style>